module autosign 1.0;

require {
        type postfix_pipe_t;
        type var_spool_t;
        type gpg_exec_t;
        type gpg_secret_t;
        type user_tmp_t;
        type unconfined_t;
        class dir { add_name remove_name read write getattr search };
        class file { create open read write unlink getattr execute execute_no_trans };
        class sock_file { getattr write };
        class unix_stream_socket connectto;
}

#============= postfix_pipe_t ==============
allow postfix_pipe_t var_spool_t:dir { add_name remove_name read write };
allow postfix_pipe_t var_spool_t:file { create write unlink };
allow postfix_pipe_t gpg_exec_t:file { open read execute execute_no_trans };
allow postfix_pipe_t gpg_secret_t:dir { add_name write getattr search };
allow postfix_pipe_t gpg_secret_t:file { create open read getattr };
allow postfix_pipe_t user_tmp_t:sock_file { getattr write };
allow postfix_pipe_t unconfined_t:unix_stream_socket connectto;
